*{
	margin:0;
	padding:0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;	
	color:#333;
}
body{
	background: #f8f8f8;
}
#clearfix{
	clear:both;
	height:0;
	display:block;
	content: "";
	visibility: hidden;
	
}
/*头部*/
.head{
	width:1200px;
	height:100px;
	/*border:1px solid red;*/
	margin:0 auto;
	position: relative;
}
.head .head-left{
	width:400px;
	height:100px;
	/*border:1px solid red;*/
	position: relative;
	left: 0;
	top:0;
	line-height: 100px;
}
.head .head-left .pic{
	width:150px;
	position: absolute;
	/*border:1px solid red;*/
	top:24px;
}
.head .head-left .data{
	position: absolute;
	width:200px;
	height:100px;
	left:150px;
	/*border:1px solid red;*/
	font-size: 14px;
    font-family: simsun;
    color: #888;
}

.head .head-left .data li:nth-of-type(1){
	position: absolute;
	top:-16px;
	left:30px;
}
.head .head-left .data li:nth-of-type(2){
	position: absolute;
	top:10px;
	left:30px;
}
.head .head-left .data li:nth-of-type(2) .aa{
	width:20px;
	height:20px;
	position:absolute ;
	top:40px;
	left:0px;
	background:url(1.png) 0px 0px no-repeat;
}
.head .head-left .data li:nth-of-type(2) .aa1{
	width:20px;
	height:20px;
	position:absolute ;
	display: none;
	top:44px;
	left:0px;
	background:url(1.png) 0% 10% no-repeat;
}
.head .head-left .data li:nth-of-type(2) .bb{
	width:120px;
	height:20px;
	position:absolute ;
	top:0px;
	left:16px;
}
.head .head-left .data li:nth-of-type(2) a{
	font-size: 12px;
    font-family: simsun;
    color: #888;
}
.head .head-left .data li:nth-of-type(2) a:hover{
	color:#c8a063;
}
.head .head-right{
	position:absolute;
	right:0;
	top:16px;
	width:430px;
	height:80px;
	/*border: 1px solid red;*/
}
.head .head-right img{
	width:50px;
	height:50px;
}
.head .head-right li{
	width:80px;
	height:80px;
	float: left;
	/*border:1px solid red;*/
	text-align: center;
	margin:0 0 0 4px;
}
.head .head-right li .a{
	position: absolute;
	bottom:6px;
	margin-left:23px;
}
.head .head-right li .a a{
	font-size:14px;
	font-family: simsun;
	color: #777;
}
.head .head-right li .a a:hover{
	color:#c8a063;
}
/*导航条*/
.dao{
	width:100%;
	height:40px;
	/*border:1px solid red;*/
	background:#494949;
}
.dao .farm{
	position: relative;
	width:1200px;
	height:40px;
	/*border:1px solid white;*/
	margin:0 auto;
}
.dao .farm .wawa{
	position: absolute;
	left: 0;
	top:0;
	margin-left:10px ;
}
.dao .farm li{
	float: left;
	width:74px;
	height:40px;
	text-align: center;
	line-height: 40px;
	border-right:1px solid #595959;
}
.dao .farm li:nth-of-type(3){
	background: red;
}
.dao .farm li .cc{
	width:16px;
	height:16px;
	position: absolute;
	top:12px;
	background: url(3.png) 100% 0% no-repeat;
}
.dao .farm li a{
	color:#fff;
}
.dao .farm li .last{
	display: none;
	opacity: 0.8;
	position: absolute;
	width:70px;
	z-index: 1;
}
.dao .farm li .last li{
	border-top:1px solid #fff;
	background:#e74d3d ;
	color:#fff;
}
.dao .farm .papa{
	position: absolute;
	right: -10px;
	width:200px;
	height:40px;
	/*border:1px solid white;*/
	top:0;
}
.dao .farm .papa li{
	width:44px;
	height:40px;
	text-align: center;
	line-height: 40px;
	background: red;
	color:#fff;
	font-size:18px;
	font-weight: 500;
}
.dao .farm .papa li div{
	width:30px;
	height:30px;
}
/*轮播*/
.logo{
	top:20px;
	position: relative;
	margin:0 auto;
	width:1200px;
	height:490px;
	/*border:1px solid red;*/
}
.logo .lun{
	width: 840px;
    height: 500px;
    /*border:1px solid red;*/
    left:0;
    top:0;
    position: relative;
}
.logo .lun div{
	width: 845px;
    height: 470px;
    display: none;
    position: absolute;
}
.logo .lun div:nth-of-type(1){
	display: block;
}
.logo .lun div img{
	width: 845px;
    height: 470px;
}
.logo .lun ul{
	width:845px;
	height:20px;
	position: absolute;
	bottom:10px;
	left:0;
	background: #333;
}
.logo .lun ul li{
	display: inline-block;
	width:164px;
	height: 20px;
	background: #333;
	/*border-right:1px solid #ccc;*/
}
.logo .lun ul li:nth-of-type(1){
	background: red;
}
.logo .lun button{
	display:none;
}
.logo .lun button:nth-of-type(1){
	position: absolute;
	top:200px;
	left:0;
	width:50px;
	height:80px;
	/*border:1px solid red;*/
	background: url(3.png) 38% 26% no-repeat;
}
.logo .lun button:nth-of-type(2){
	position: absolute;
	width:50px;
	height:80px;
	right:0;
	top:200px;
	/*border:1px solid red;*/
	background: url(3.png) 58% 26% no-repeat;
}
.logo .menu{
	position:absolute;
	top:0;
	right:10px;
	width:340px;
    height:480px;
    background: #fff;
    border: 1px solid #eee;
    float: right;
}
.logo .menu .menu-top{
	position: absolute;
	height:40px;
	top:0px;
	width:320px;
	left:10px;
	
}
.logo .menu .menu-top .jj{
	border-bottom: 2px solid green;
	position: absolute;
	height:40px;
	top:10px;
	left:0px;
	
}
.logo .menu .menu-top .slide{
	width:220px;
	height:2px;
	background: limegreen;
	position: absolute;
	right:0px;
	top:50px;
}
.logo .menu .menu-file{
	position: absolute;
	height:400px;
	top:60px;
	width:320px;
	left:10px;
	/*border:1px solid red;*/
}
.logo .menu .menu-file .kie{
	width:300px;
	height:80px;
	border-bottom:1px solid #ccc;
	position: relative;
	display:block;
	left: 10px;
}
.logo .menu .menu-file .kie .tlt{
	position: absolute;
	background: darkgreen;
	color:#fff;
	width:40px;
	font-size:12px;
	height:20px;
	text-align: center;
	line-height: 20px;
	left:0px;
	top:8px;
}
.logo .menu .menu-file .kie .rr{
	position: absolute;
	width:300px;
	color:darkseagreen;
	bottom:10px;
	left:0px;
	font-size:10px;
}
/*.hh{
	position: relative;
	width:1200px;
	top:40px;
	height:400px;
	margin:0 auto;
}
.hh img{
	width:1190px;
}*/
/*//数据*/
.type{
	top:100px;
	position: relative;
	width:1200px;
	margin:0 auto;
	padding-left:20px;
}
.type .list{
	position: relative;
	width:380px;
	background: #f0f0f0;
	display: inline-block;
	/*float:left;*/
	margin:5px;
	/*border-top:10px solid darkgreen;*/
}
.type .list .kn{
	vertical-align: middle;
	width:380px;
	height:280px;
	top:0;
}
.type .list img{
	width:360px;
	height:260px;
	margin:0 auto;
	margin-left: 10px;
	outline: none;
}
.type .list img:hover{
	transition: all ease 2s; 
	transform: scale(1.05);
}
.type .list p{
	margin-top:20px;
	font-size:14px;
	color:#666;
	margin-left:10px;
}
.type .list .ff{
	position: absolute;
	right:10px;
	top:10px;
	width:50px;
	text-align: center;
	line-height: 24px;
	font-size:12px;
	height:24px;
	background: url(3.png)-200px -160px no-repeat;
	color:#fff;
}
.type .list h3{
	color:#333;
	margin-top:30px;
	margin-left:10px;
	font-size:20px;
}
.type .list .bum{
	color:#ccc;
	margin-bottom:20px;
	margin-left:10px;
	font-size:12px;
}
.bottom{
	width:100%;
	height:100px;
	background: #eee;
	/*border:1px solid red;*/
	z-index:1;
	/*position: fixed;*/
	text-align: center;
	margin-top:200px;
}
/*底部*/
.bottom .bottom-farm{
	position: relative;
	width:1200px;
	height:100px;
	margin:0 auto;
	text-align: center;
}
.bottom .bottom-farm .bottom-top{
	position:absolute;
	width:1200px;
	height:24px;
	font-size:14px;
	color:#888888;
	text-align: center;
	line-height: 24px;
	/*border:1px solid red;*/
	top:20px;
}
.bottom .bottom-farm .bottom-top li{
	display: inline-block;
	margin:2px;
}
.bottom .bottom-farm .bottom-top li a{
	color:#888888;
	font-size:14px;
}
.bottom .bottom-farm .bottom-top li a:hover{
	color:#c8a063;
}
.bottom .bottom-farm .bottom-after{
	position:absolute;
	width:1200px;
	height:24px;
	font-size:14px;
	color:#888888;
	text-align: center;
	line-height: 24px;
	bottom:20px;
}
